html {
    min-height: 100%;
    height: 100%;
}
a:focus,
a:hover{
    text-decoration: none;
}
ul{
    list-style: none;
    padding:0;
    margin: 0;
}
b, strong {
    font-weight: 500;
}
body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    min-height: 100%;
    height: 100%;
    font-size: 13px;
    letter-spacing: 0.16px;
}
*, body, button, input, textarea, select {
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    text-rendering: optimizelegibility;
}
header .header-content{
    float: left;
    width: calc(100% - 250px);
}

header .logo .tm{
    font-size: 12px;
    line-height: 24px;
}
header .logo .text::after{
    position: absolute;
    top: -20px;
    right: -17px;
    content: "TM";
    color: #0083d0;
    font-weight: 500;
    font-size: 10px;
}
header .logo .text{
    line-height: 50px;
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
    color: #0083d0;
    margin-left: 15px;
    position: relative;
}
header .logo .icon .intelliboard::after,
header .logo .icon .intelliboard::before{
    font-size:32px;
}
header .logo .icon i{
    display: block;
    margin-top: 3px;
}
header .logo .icon{
    width: 50px;
    text-align: center;
    border-right: 1px solid #e9ebf0;
    display: inline-block;
    float: left;
    line-height: 50px;
    height: 50px;
    color: #0083d0;
    overflow: hidden;
}
header .logo a:hover .net{
    display: inline-block;
}
header .logo{
    height: 100%;
    background-color: #f8faf9;
    width: 250px;
    border-right: 1px solid #e9ebf0;
    float: left;
}
header{
    width: 100%;
    height: 50px;
    background-color:#fff;
    padding:0;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #e9ebf0;
    z-index: 9;
}
main{
    padding-top: 50px;
}
main aside h2 strong{
    font-weight: 500;
    color: #343a43;
}
main aside h2{
    color: #8a949e;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    padding: 15px 15px 10px;
    margin-top: 10px;
}
main aside{
    background-color: #f8faf9;
    left: 0;
    height: calc(100% - 100px);
    /*min-height: calc(100% - 50px);*/
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 50px;
    width: 250px;
    padding-bottom: 50px;
    border-right: 1px solid #e9ebf0;
}
.profiler,
main section{
    display: inline-block;
    margin-left:250px;
    min-height: 200px;
}
header:after,
main:after{display: table;line-height: 0;content: ""; clear: both;}

.fullsize .left-menu li a span{
    display: none;
}
.fullsize main aside h2{
    display: none;
}
.fullsize .profiler,
.fullsize main section{
    margin-left: 50px;
}
.fullsize main aside{
    width: 50px;
}
.fullsize .content,
.fullsize header .header-content{
    width: calc(100% - 50px);
}
.fullsize .left-menu li a i{
    padding-right: 0;
    font-size: 24px;
}
.fullsize .left-menu li a{
    text-align: center;
    padding: 0;
    line-height: 50px;
}
.fullsize .left-menu li{
    margin:0;
    padding:0;
    border-bottom: 1px solid rgba(0, 131, 208, 0.1);
    border-left: 0 none;
}
.fullsize .left-menu li.treemenu ul{
    margin-left: 0;
}
.fullsize main aside{
    overflow: visible;
}
.fullsize .left-menu li{
    position: relative;

}
.fullsize .left-menu li a:hover span{
    display: block;
    background-color: #f8faf9;
    border: 1px solid #e9ebf0;
    border-left:0;
    display: block;
    left: 50px;
    position: absolute;
    z-index: 9;
    padding: 0 20px 0 10px;
    position: absolute;
    left: 50px;top: 0;
    white-space:nowrap;
}

.fullsize .left-menu li.active > ul{
    display: block;
    background-color: #f8faf9;
    border: 1px solid #e9ebf0;
    border-left:0;
    display: block;
    left: 50px;
    position: absolute;
    z-index: 9;
    padding: 0 20px 0 10px;
    position: absolute;
    left: 50px;top: 0;
    white-space:nowrap;
}


.fullsize .fullsize-btn{
    max-width: 50px;
}
.fullsize .logo{
    width: 50px;
}
.fullsize .fullsize-btn i.ion-ios-arrow-left{
    display: none;
}
.fullsize .fullsize-btn i.ion-ios-arrow-righ{
    display: block;
}
.fullsize .logo .text{
    display: none;
}
.header-content .left{
    float: left;
    padding: 9px 28px;
}
.content{
    padding: 0px;
    width: 100%;
}


.left-menu li{
    justify-content: space-between;
    margin: 2px 0;
}

.left-menu li a i{
    font-size: 19px;
    padding-right: 10px;
    position: relative;
    vertical-align: middle;
    color:#74808c;
    min-width: 26px;
    display: inline-block;
}
.left-menu li a span{
    color: #343a43;
    font-size: 14px;
    letter-spacing: 0.2px;
}
.left-menu li a{
    display: inline-block;
    line-height: 36px;
    padding: 0 15px;
    width: 100%;
}

.left-menu li.active > a span{
    font-weight: 500;
}
.left-menu li:hover > a span{
    color: #0083d0;
}
.left-menu li.active i,
.left-menu li:hover i{
    color: #0083d0;
}
.left-menu li.active ul li i{
    color: #74808c;
}
.left-menu li.active ul li.active i,
.left-menu li:hover ul li:hover i{
    color: #0083d0;
}

.left-menu li.active,
.left-menu li:hover{
    background: rgba(0,131,208, 0.1) none repeat scroll 0 0;
}
.left-menu li.treemenu{
    background: transparent;
}

.left-menu li.treemenu:hover span{
    color:  #343a43;
}
.left-menu li.treemenu ul li:hover > a span{
    color: #0083d0;
}
.left-menu li.treemenu:hover i{
    color:  #8a949e;
}
.left-menu li.treemenu ul li:hover i{
    color: #0083d0;
}

.left-menu li ul li.active,
.left-menu li ul li:hover{
    border-left: 2px solid #0083d0;
    background: transparent;
}
.left-menu li ul li a{
    display: block;
    padding: 0;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.left-menu li ul li{
    margin: 0;
    border-left: 2px solid #e9ebf0;
    margin-left: 5px;
    padding-left: 20px;
    width: 100%;
    background: transparent none repeat scroll 0 0;
    border-radius: 0;
}
.left-menu li ul{
    padding: 0;
    margin: 0 0 0 15px;
    width: calc(100% - 15px);
    list-style: none;
}
.left-menu li ul li ul{
    margin: 0;
    display: none;
}
.left-menu li ul li ul li:hover,
.left-menu li ul li ul li{
    border-left: 0 none;
    margin-left: 0;
    padding-left: 0;
}
.left-menu li ul{
    display: none;
}
.left-menu li.active > ul{
    display: block;
}
.reports-menu ul li .trigger i{
    font-size: 15px;
    min-width: 15px;
    padding: 0;
}
.left-menu li ul li ul li.active, .left-menu li ul li ul li:hover{
    border-left: medium none;
}

.menu-tree1 ul{display: block;}
.menu-tree1 ul li ul{display: none;}




.header-content .right{
    float: right;
}
.serversmenu .dropdown-toggle{
    color: #333;
    cursor: pointer;
}
.serversmenu .dropdown-toggle span i.ion-spin{
    font-size: 17px;
    color: #14a2e2;
}
.serversmenu .dropdown-toggle span i{
    display: block;
    font-size: 11px;
    line-height: 28px;
}
.serversmenu .dropdown-toggle strong{
    float: left;
    font-size: 13px;
    font-weight: 400;
    padding: 5px 10px;
    width: calc(100% - 30px);
    display: block;
}
.serversmenu .dropdown-toggle span{
    border-left: 1px solid #e9ebf0;
    color: #999;
    float: right;
    font-size: 11px;
    margin: 0;
    padding:0;
    width: 30px;
    display: block;
    text-align: center;
}
.serversmenu{
    border: 1px solid #e9ebf0;
    border-radius: 3px;
    margin: 0;
    padding: 0;
    position: relative;
    min-width: 250px;
}
.serversmenu.active{
    border: 1px solid #14a2e2;
}

.header-alert a i{
    margin-left: 3px;
    color: #0083d0;
}
.header-alert a{
    display: inline-block;
    background-color: #343a43;
    border-radius: 2px;
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    line-height: 30px;
    padding: 0 15px;
    text-align: center;
    text-transform: uppercase;

}
.header-alert span{
    display: inline-block;
    color: #8a949e;
    font-size: 13px;
    line-height: 50px;
    margin-right: 30px;
}
.header-alert{
    float: left;
}
.header-search i:hover{
    display: block;
    -webkit-animation: spin2 1s infinite linear;
    -moz-animation: spin2 1s infinite linear;
    -o-animation: spin2 1s infinite linear;
    animation: spin2 1s infinite linear;
}
.header-search{
    float: left;
    margin: 15px;
    border-left: 1px solid #e9ebf0;
    padding-left: 12px;
}
.header-search label span{
    color: #343a43;
    float: right;
    font-size: 13px;
    line-height: 14px;
    margin: 5px 0 0 10px;
}
.header-search label{
    line-height: 0;
    color: #0083d0;
    cursor: pointer;
}
.header-search i{
    font-size: 22px;

}
.header-user .ion-chevron-down{
    color: #999;
    display: inline-block;
    font-size: 10px;
    margin-left: 5px;
    cursor: pointer;
}
.header-user .ion-person{
    width: 30px;
    height: 30px;
    background-color: #eee;
    color: #0083d0;
    display: inline-block;
    border-radius: 50%;
    font-size: 19px;
    text-align: center;
    cursor: pointer;
}
.header-user{
    float: left;
    margin: 10px 25px 10px 0;
}
.fullsize-btn i.ion-ios-arrow-righ{
    display: none;
}
.fullsize-btn i{
    display: block;
    height: 100%;
    width: 50px;
    font-size: 32px;
    color: #8a949e;
    background: #e9ebf0 none repeat scroll 0 0;
    cursor: pointer;
    line-height: 50px;
}
.fullsize-btn{
    max-width: 250px;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    border-top: 1px solid #e9ebf0;
    width: 100%;
    text-align: center;
    overflow:hidden;

    background-color: #f8faf9;
    border-right: 1px solid #e9ebf0;
}





/*CONTENT*/

.head .nav span.divider{
    color:#dee2e6;
    font-size: 17px;
    margin: 0 5px;
    display: inline-block;
}
.head .nav .button i,
.head .nav .action i{
    margin-right: 2px;
}
.head .nav .action{
    background: #fff none repeat scroll 0 0;
    border:1px solid #dee2e6;
    border-radius: 3px;
    color: #646c73;
    padding: 4px 10px;
    font-size: 13px;
    display: inline-block;
}
.head .nav .action a.dropdown-toggle{
    cursor: pointer;
    background-color: #fff !important;
}
.head .nav .action i:last-child{
}
.head .nav .action i{
    margin-right: 5px;
    font-size: 14px;
}
.head .nav a.button{
    background: #f3f5f8 none repeat scroll 0 0;
    border:1px solid #dee2e6;
    border-radius: 3px;
    color: #646c73;
    padding: 4px 10px;
    font-size: 13px;
    display: inline-block;
    cursor: pointer;
}
.head .nav a.btn{
    float: right;
    margin-left: 3px;
}
.head .nav input{
    float: right;
    height: 34px;
    margin: 0 5px;
    width: 180px;
}
.head .nav a.settings{
    line-height: 34px;
    margin-right: 10px;
    color: #8a949e;
}
.head .nav a.icon{
    background: #f3f5f8 none repeat scroll 0 0;
    border-color: #dee2e6;
    border-radius: 3px;
    color: #646c73;
    float: right;
    font-size: 21px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    width: 34px;
}
.head .nav{
    float: right;
}

.head h2{
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    line-height: 30px;
    float: left;
}
.head{
    border-bottom: 1px solid #e9ebf0;
    padding: 25px 30px;
    background-color: white;
}

.inner{
    padding:30px;
}
.home h3{
    margin: 0;
    padding: 0 0 20px;
    font-size: 14px;
    font-weight: 500;
}
.panel{
    border: 1px solid #e9ebf0;
    border-radius: 4px;
    position: relative;
}
.panel-left{
    float: left;
    padding-right: 0;
    width: calc(100% - 300px);
    border-right: 1px solid #f3f5f8;
}
.panel-right{
    float: right;
    width: 300px;
}

.panel-totals{
    padding: 20px 0;
}
.panel-totals li strong{
    font-size: 21px;
    line-height: 21px;
    color: #343a43;
    letter-spacing: 0.3px;
    padding-bottom: 5px;
    display: block;
}
.panel-totals li span{
    color: #8a949e;
    font-size: 13px;
    display: block;
}
.panel-totals li{
    float: left;
    width: 25%;
}
.panelHeader .form-control{
    float: right;
    height: 32px;
    line-height: 32px;
    margin-top: 10px;
    width: 25%;
}
.panelHeader span {
    color: #8a949e;
    font-size: 13px;
    line-height: 50px;
    float: right;
}
.panelHeader strong i{
    color: #e9ebf0;
    margin-left: 3px;
}
.panelHeader strong{
    color: #343a43;
    font-weight: 400;
    font-size: 13px;
    line-height: 50px;
}
.panelFooter .more i{
    margin-left: 5px;
}
.panelFooter .more{
    float: right;
    color: #343a43;
    font-size: 13px;
}
.panelFooter .naxtprev{
    float: left;
}
.panelFooter .naxtprev a.disabled{
    color: #8a949e;
}
.panelFooter .naxtprev a{
    color: #343a43;
    font-size: 13px;
    cursor: pointer;
    margin-right: 6px;
}
.panelFooter .filter{
    float: left;
    color: #8a949e;
    font-size: 13px;
    cursor: pointer;
}
.panelFooter {
    border-top: 1px solid #e9ebf0;
    font-size: 14px;
    padding: 10px 20px;
}
.panelHeader {
    border-bottom: 1px solid #e9ebf0;
    font-size: 14px;
    padding: 0 13px 0 20px;
}
.panelBody {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    padding-top: 0;
    height: 425px;
}

.panelTabs{
    margin: 0;
    padding: 0;
    position: relative;
    float: left;
}
.panelTabs li {
    display: inline-block;
    padding-right: 15px;
}
.panelTabs li a.active {
    border-bottom: 2px solid #0083d0;
    color: #0083d0;
}
.panelTabs li a {
    line-height: 50px;
    margin-right: 10px;
    color: #8a949e;
    display: block;
    font-size: 14px;
}
.panel-summary{
    float: left;
    width: 100%;
    height: 517px;
}
.panel-summary .monitor_body_21{
    height: 320px;
}
.panel-live.active{
    background-color: #4688f1;
}
.panel-live{
    background-color: #01ab6b;
    color: #fff;
    width: 300px;
    float: left;
    height: 517px;
    padding: 20px;
    position: relative;
    transition: all 0.3s ease 0s;
}
.panel-live.active h3 i{
    transform: rotate(180deg);
}
.panel-live h3 i{
    position: absolute;
    right: 0;
    top: 1px;
    font-size: 13px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.panel-live h3{
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 15px;
    position: relative;
}
.panel-live .totals li span{
    font-size: 13px;
}
.panel-live .totals li strong{
    font-size: 36px;
    font-weight: 400;
    display: block;
}
.panel-live .totals{
    margin-bottom: 20px;
}
.panel-live .totals li{
    float: left;
    width: 33.3%;
}
.panel-live .summary tbody tr td{
}
.panel-live .summary thead tr th{
    font-size: 12px;
    font-weight: 400;
    color: rgba(255,255,255,0.8);
    border-bottom: 1px solid rgba(255,255,255,0.18);
}
.panel-live .summary{
    width: 100%;
    margin-top: 20px;
    font-size: 13px;
    line-height: 26px;
}
.panel-live .visual .visual-chart{
    height: 70px;
    width: 100%;
    position: relative;
}
.panel-live .visual .visual-chart td .visual-col:hover{
    background-color: rgba(255,255,255,0.9);
}
.panel-live .visual .visual-chart td .visual-col.active{
    opacity: 1;
}
.panel-live .visual .visual-chart td{
    position: relative;
    vertical-align: bottom;
}
.panel-live .visual .visual-chart td .visual-col{
    transition: all 0.3s ease 0s;
    opacity: 0.1;
    width: 93%;
    background-color: #fff;
}
.panel-live .visual .visual-head{
    font-size: 12px;
    line-height: 28px;
    font-weight: 400;
    display: block;
    color: rgba(255,255,255,0.8);
    border-bottom: 1px solid rgba(255,255,255,0.18);
    margin-bottom: 10px;
}

.panel-live .action a i{
    margin-left: 5px;
}
.panel-live .action a{
    color: #fff;
    float: right;
    font-size: 13px;
}
.panel-live .action{
    position: absolute;
    bottom: 0;
    left: 0;
    padding:10px 20px;
    width: 100%;
    border-top: 1px solid rgba(255,255,255,0.18);
}


.monitor .recentinfo{
}
.monitor .recentinfo .totals li span{
    font-size: 13px;
}
.monitor .recentinfo .totals li strong{
    font-size: 36px;
    font-weight: 400;
    display: block;
}
.monitor .recentinfo .totals{
    margin-bottom: 20px;
}
.monitor .recentinfo .totals li{
    float: left;
    width: 33.3%;
}
.monitor .recentinfo .summary tbody tr td{
}
.monitor .recentinfo .summary thead tr th{
    font-size: 12px;
    font-weight: 400;
    color: rgba(0,0,0,0.8);
    border-bottom: 1px solid rgba(0,0,0,0.06);
}
.monitor .recentinfo .summary{
    width: 100%;
    margin-top: 20px;
    font-size: 13px;
    line-height: 26px;
}
.monitor .recentinfo .visual-chart{
    height: 70px;
    width: 100%;
    position: relative;
}
.monitor .recentinfo .visual-chart td .visual-col:hover{
    background-color: rgba(0,0,0,0.9);
}
.monitor .recentinfo .visual-chart td .visual-col.active{
    opacity: 1;
}
.monitor .recentinfo .visual-chart td{
    position: relative;
    vertical-align: bottom;
}
.monitor .recentinfo .visual-chart td .visual-col{
    transition: all 0.3s ease 0s;
    opacity: 0.1;
    width: 93%;
    background-color: #3489df;
}
.monitor .recentinfo .visual .visual-head{
    font-size: 12px;
    line-height: 28px;
    font-weight: 400;
    display: block;
    color: rgba(0,0,0,0.8);
    border-bottom: 1px solid rgba(0,0,0,0.06);
    margin-bottom: 10px;
}
.monitor .recentinfo .action a i{
    margin-left: 5px;
}
.monitor .recentinfo .action a{
    color: #333;
    float: right;
    font-size: 13px;
}
.monitor .recentinfo .action{
    position: absolute;
    bottom: 0;
    left: 0;
    padding:10px 20px;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.18);
}


.panel-report .panelBody{
    padding: 0;
}
.panel-map .panelBody{
    padding: 20px;
}
.panel-report .monitor-table-body{
    height: 425px;
}
.panel-report{
    float: left;
    margin-left: 20px;
    width: calc(100% - 320px);
}
.panel-map{
    float: left;
    width:25%;
}
.panel-devices{
    float: left;
    width: calc(25% - 20px);
    margin-left: 20px;
}
.panel-summary .panel-right .panelBody,
.panel-calendar .panelBody{
    padding: 20px;
}
.panel-calendar{
    float: left;
    width:calc(50% - 20px);
    margin-left: 20px;
}



@media screen and (min-width: 1600px) {
    body .panel-report{
        margin-left: 0px;
        width: 100%;
    }
    body .panel-summary{
        width: 73%;
    }
    body .panel-live{
        width: 25%;
        float: right;
    }
}




.timeFilter .dropdown{
    float: left;
}
.timeFilter {
    float: right;
    margin-top: 11px;
}
.timeSelectors {
    float: left;
    margin: 0;
}
.timeSelectors li {
    float: left;
    margin-left: -1px;
}
.timeSelectors li:first-child a {
    border-left-width: 1px;
    border-radius: 2px 0 0 2px;
}
.timeSelectors li:last-child a {
    border-left-width: 1px;
    border-radius: 0 2px 2px 0;
}
.timeSelectors li a.active {
    background: #f3f5f8  none repeat scroll 0 0;
    border-color: transparent;
    color: #8a949e;
}
.timeSelectors li a {
    border: 1px solid #e9ebf0;
    margin: 0;
    padding: 0 15px;
    font-size: 14px;
    line-height: 29px;
    display: inline-block;
    text-align: center;
    color: #8a949e;
    cursor: pointer;
}
.panelHeaderBtn {
    background: #f3f5f8  none repeat scroll 0 0;
    border-radius: 2px;
    color: #8a949e;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
    padding: 0 10px;
    line-height: 30px;
    display: inline-block;
}
.panelHeaderBtn i {
    color: #8a949e;
    font-size: 15px;
    margin-left: 2px;
    margin-right: 5px;
}


.dropdown-menu input.daterange-header{
    border: 0;
    background-color: transparent;
    padding: 0;
    color: #8a949e;
    font-size: 13px;
    line-height: 30px;
}

.dropdown-menu.withcalendar .dropdown-body{
    width: 250px;
    float: right;
}
.dropdown-menu.withcalendar .dropdown-calendar .flatpickr-calendar{
    top: 0 !important;
    left: 0 !important;
    right: auto !important;
    box-shadow:none !important;
    border:0 !important;
}
.dropdown-menu.withcalendar .dropdown-calendar{
    height: 296px;
    width: 308px;
    float: left;
    position: relative;
}
.dropdown-menu.withcalendar{
    width: 570px;
}
.dropdown-menu{
    border: 1px solid #e9ebf0;
    border-radius: 4px;
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.08);
    overflow: hidden;
    width: 250px;
    padding: 0;
    background: #fff none repeat scroll 0 0;
    border-radius: 4px;
    margin-top: 10px;
    overflow: visible;
    position: absolute;
    z-index: 998;
}
.dropdown-header span{
    float: left;
}
.dropdown-header a i{
    font-size: 17px;
    color: #8a949e;
}
.dropdown-header a{
    float: right;
}
.dropdown-header {
    background: #f3f5f8 none repeat scroll 0 0;
    color: #8a949e;
    font-size: 13px;
    line-height: 30px;
    padding: 0 10px;
    margin: 0;
}

.dropdown-body {
    padding: 15px;
}

.dropdown-menu.alignToLeft {
    left: 0;
}
.dropdown-menu.alignToLeft::before {
    border-bottom: 7px solid #e9ebf0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    left: 9px;
    position: absolute;
    top: -7px;
}
.dropdown-menu.alignToLeft::after {
    border-bottom: 6px solid #f3f5f8;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    left: 10px;
    position: absolute;
    top: -6px;
}
.dropdown-menu.alignToRight {
    right: 0;
}
.dropdown-menu.alignToRight::before {
    border-bottom: 7px solid #e9ebf0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: 9px;
    top: -7px;
}
.dropdown-menu.alignToRight::after {
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: 10px;
    top: -6px;
}
.dropdown-menu.withHeader.alignToLeft::after, .dropdown-menu.withHeader.alignToRight::after {
    border-bottom: 6px solid #f3f5f8;
}

.servers-list.jsinactive li i.selected{
    display: block;
}
.servers-list.jsinactive li i{
    display: none;
}
.servers-list div{
    overflow-y: auto;
    max-height: 330px
}
.servers-list{
    margin: -15px;
}
.servers-list li .addnew{
    color: #0083d0;
    font-weight: 500;
    font-size: 13px;
}
.servers-list li.divider{
    padding:0;
    margin: 0;
}
.servers-list li.active,
.servers-list li:hover{
    background-color: #fbfbfb;
}
.servers-list li{
    border-bottom: 1px solid #e9ebf0;
    padding:8px 0 8px 18px;
    position: relative;
}
.servers-list li span{
    float: right;
    position: relative;
    width: 20%;
}
.servers-list li a{
    display: block;
    width: 80%;
    float: left;
}
.servers-list li p{
    float: left;
    color: #8a949e;
    margin: 0px 0 0;
    font-size: 13px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
}
.servers-list li .server-checkbox.selected,
.servers-list li .server-checkbox.selected:hover{
    color: #188b63;
}
.servers-list li .server-checkbox.connected,
.servers-list li .server-checkbox:hover{
    color: #3489df;
}
.servers-list li .server-checkbox{
    color: #c0c0c0;
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    display: block;
}
.servers-list li strong{
    float: left;
    color: #343a43;
    font-weight: 500;
    font-size: 13px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
}
.w300{
    width: 300px
}
.w350{
    width: 350px
}
.w400{
    width: 400px
}

.user-menu li a{
    color: #8a949e;
    font-size: 13px;
    line-height: 13px;
    margin-top: 15px;
    display: block;
}
.user-totals{
    background: rgba(243, 245, 248, 0.5) none repeat scroll 0 0;
    border-top: 1px solid #f3f5f8;
    border-bottom: 1px solid #f3f5f8;
    margin: 15px -15px;
    padding: 8px 15px;
}
.user-totals strong{
    font-size: 13px;
    float: left;
    color: #8a949e;
}
.user-totals a{
    font-size: 13px;
    float: right;
    border-bottom: 1px dotted #0083d0;
    color: #0083d0;
}
.user-header .user-avatar{
    width: 40px;
    float: left;
}
.user-header .user-info{
    float: left;
    margin-top: -5px;
}
.user-header strong{
    font-size: 14px;
    font-weight: 400;
    color: #343a43;
}
.user-header p{
    font-size: 14px;
    font-weight: 400;
    color: #8a949e;
    margin:0;
}
.user-stats{
    margin: 15px -15px;
    padding: 0 15px 5px;
    border-bottom: 1px solid #f3f5f8;
}
.user-stats .chart span{
    height: 100%;
    background-color: rgba(0, 131, 208, 0.8);
    display: block;
}
.user-stats .chart span.warning{
    background-color: #f0ad4e;
}
.user-stats .chart span.danger {
    background-color: #fb764d;
}
.user-stats .chart{
    background: #f3f5f8 none repeat scroll 0 0;
    border-radius: 2px;
    display: block;
    height: 6px;
    overflow: hidden;
    position: relative;
}
.user-stats .stat{
    padding: 0 0 14px;
}
.user-stats p strong{
    color: #343a43;
}
.user-stats p{
    margin: 0 0 3px;
    font-size: 13px;
    color: #8a949e;
}


.connections{
    margin-right: -25px;
}
.connections li{
    border: 1px solid #dfdfe0;
    border-radius: 3px;
    box-shadow: 0 1px 2px -1px #dfdfe0;
    display: inline-block;
    margin: 0 20px 20px 0;
    opacity: 1;
    position: relative;
    transition: all 0.3s ease 0s;
    vertical-align: top;
    width: 225px;
}
.connection-header p{
    color: #8a949e;
    font-size: 13px;
    margin: 0;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.connection-header strong{
    color: #343a43;
    font-size: 13px;
}
.connection-header{
    padding: 5px 15px;
}
.connection-body img{
    width: 100%;
    height: 100%;
    bottom: 0 none;
    outline: none;
}
.connection-body{
    border-top: 1px solid #dfdfe0;
    border-bottom: 1px solid #dfdfe0;
    background-color: #f6f6f6;
    height: 150px;
}
.connection-footer strong{
    color: #343a43;
}
.connection-footer p{
    color: #8a949e;
    font-size: 13px;
    margin:0;
}
.connection-footer{
    padding: 5px 15px;
}

.form-control{
    height: 36px;
    line-height: 36px;
}

.table-panel{
}
.table-panel-header p strong{
    color: #333;
}
.table-panel-header p{
    float: left;
    font-size: 13px;
    line-height: 40px;
    margin: 0;
    color: #8a949e;
}
.table-panel-header input.form-control{
    width: 25%;
    float: right;
}
.table-panel-header{
    padding: 10px 20px;
    border:1px solid #e9ebf0;
    border-radius:4px 4px 0 0;
    border-bottom: 0;
}
.powerbi{
    width: 20px
}
.table-data.fixed{
    margin:-1px;
    width: 101%;
}
.table-data{
    margin:0px;
    width: 100%;
}
.table-data thead th{
    padding: 5px 10px;
    background-color: rgba(243, 245, 248, 0.5);
    border: 1px solid #f3f5f8;
    font-weight: 400;
    font-size: 12px;
    color: #8a949e;
    line-height: 19px;
}
.table-data thead th:hover{
    text-decoration: underline;
}
.table-data .down{
    color:#f56565;
}
.table-data .up{
    color:#25b964;
}
.table-data .name{
    font-size: 13px;
    line-height: 17px;
    color: #343a43;
}
.table-data .url{
    margin:0;
    color: #8a949e;
    font-size: 13px;
    line-height: 17px;
    margin: 0;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    max-width: 250px;
}
.table-data i.icon{
    font-size: 19px;
    color: #337ab7;
}
.table-data tbody td{
    padding: 9px 20px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20.1px;
    border: 1px solid #f3f5f8;
}
.table-data tbody tr:nth-child(2n) {
    background: rgba(243, 245, 248, 0.5) none repeat scroll 0 0;
}


.settings-header .title{
    font-size: 16px;
    padding: 0;
    font-weight: 500;
    margin-bottom: 20px;
}
.settings-header{
    border-bottom: 1px solid #f3f5f8;
    padding: 40px 30px;
}
.settings-header .left{
    width: 150px;
    float: left;
    position: relative;
    padding-left: 10px;
}
.settings-header .left p span{
    font-size: 24px;
    color: #8a949e;
    vertical-align: 8px;
}
.settings-header .left .avatar{
    width: 150px;
    height: 150px;
    background-color: #e9ebf0;
    border-radius: 50%;
    line-height: 150px;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.settings-header .left .avatar i{
    font-size: 110px;
    color: #fff;
}
.settings-header .left .avatar:hover span{
    background-color: rgba(0,0,0,0.4);
}
.settings-header .left .avatar span{
    display: block;
    background-color: rgba(0,0,0,0.1);
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    cursor: pointer;
    width: 100%;
    height: 37px;
    text-align: center;
    line-height: 37px;
}

.settings-header .left p{
    position: absolute;top: 50%;
    margin-top: -20px;
    width: 100%;
    text-align: center;
    color: #343a43;
    font-size: 36px;
}
.settings-header .right .top span{
    color: #8a949e;
}
.settings-header .right .top{
    font-size: 14px;
    margin-bottom: 30px;
}
.settings-header .right{
    padding-left: 40px;
    padding-top: 20px;
    width: calc(100% - 150px);
    float: left;
}

.settings-header .right .bottom ul li:last-child{
    padding-right: 0;
}
.settings-header .right .bottom ul li{
    width: 33.3%;
    float: left;
    padding-right: 15px;
}

.settings-header .right .bottom .chart span.warning{
    background-color: #f0ad4e;
}
.settings-header .right .bottom .chart span.danger {
    background-color: #fb764d;
}


.settings-header .right .bottom .chart span{
    width: 10%;
    background: rgba(0, 131, 208, 0.8) none repeat scroll 0 0;
    height: 5px;
    display: block;
}
.settings-header .right .bottom .chart{
    background: #e9ebf0 none repeat scroll 0 0;
    border-radius: 2px;
    height: 5px;
    width: 100%;
    border-radius: 2px;
    overflow: hidden;
    margin-top: 15px;
}
.settings-header .right .bottom .desc{
    display: block;
    font-size: 13px;
    margin: 4px 0 0;
    color: #8a949e;
}
.settings-header .right .bottom .counter{
    font-weight: 400;
    font-size: 20px;
}
.settings-header .right .bottom .counter span{
    color: #8a949e;
    font-size: 13px;
}

.settings-form fieldset .legend i:hover{
    color: #343A43;
}
.settings-form fieldset .legend i{
    float: right;
    font-size: 19px;
    color: #8a949e;
    line-height: 19px;
    cursor: pointer;
}
.settings-form fieldset .legend{
    font-weight: 500;
    font-size: 14px;
    color: #343A43;
    margin-bottom: 3px;
    padding-bottom: 10px;
    position: relative;
}

.settings-form hr {
    height: 1px;
    border:0;
    border-bottom: 1px solid #e9ebf0;
    margin:0;
}
.int-select,
.settings-form select {
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    cursor: pointer;
    background: transparent url("../icons/src/chevron-down.svg") no-repeat scroll 97% center / 10px 10px;
}
.form-actions{
    margin-top: 20px;
    border-top: 1px solid #f6f6f6;
    padding-top: 20px;
}
.settings-form fieldset.disabled{
    opacity: 0.4;
    cursor: not-allowed;
}
.settings-form fieldset.active .legend{
    border-bottom: 1px solid #f3f5f8;
    margin-bottom: 15px;
}
.settings-form fieldset.active .form-group,
.settings-form fieldset.active .ion-ios-arrow-up{
    display: block;
}
.settings-form fieldset .form-group,
.settings-form fieldset .ion-ios-arrow-up,
.settings-form fieldset.active .ion-ios-arrow-down{
    display: none;
}
.settings-form fieldset label{
    font-size: 13px;
}
.settings-form fieldset{
    border: 1px solid #e9ebf0;
    border-radius: 4px;
    background: rgba(243,245,248,.3);
    padding: 15px 15px 0;
    margin: 25px 0;
}
.settings-form fieldset .form-group.extra label{
    width: 100%;
    display: block;
}
.settings-form fieldset .form-group.extra:last-child input{
    margin-right: 0;
    width: 100%;
}
.settings-form fieldset .form-group.extra input{
    margin-right: 10px;
    width: calc(100% - 10px);
}
.settings-form fieldset .form-group.full{
    width: 100%;
    float: none;
}
.settings-form fieldset .form-group{
    width: 33.3%;
    float: left;
}
.settings-form .advanced .form-group{
    float: none;
    width: 100%;
    margin-bottom: 35px;
}
.settings-form .basic{
    padding-bottom: 10px;
    margin-right: -20px;
}
.settings-form .basic .form-group.full-size{
    width: 100%;
    margin-right: 0px;
}
.settings-form .basic .form-group{
    width: 33.3%;
    float: left;
}
.settings-form .basic .form-input-wrap{
    position: relative;
    display: block;
}
.settings-form .basic .form-input-icon i.success{
    color: #5cb85c;
}
.settings-form .basic .form-input-icon i.warming{
    color: #f0ad4e;
}
.settings-form .basic .form-input-icon i{
    display: block;
}
.settings-form .basic .form-input-icon{
    position: absolute;
    top: 7px;
    right: 27px;
    font-size: 16px;
    opacity: 0.8;
}
.withicon{
    position: relative;
    display: block;
}
.withicon select{
    padding-left: 25px;
}
.withicon::before{
    position: absolute;
    left: 11px;
    top: 12px;
    z-index: 1;
}
.mr5{
    margin-right: 5px;
}
.modal-title{
    display: inline-block;
}
.settings-form .basic .form-group .form-control{
    margin-right: 20px;
    width: calc(100% - 20px);
}
.settings-form .title{
    font-size: 16px;
    padding: 0;
    font-weight: 500;
    margin-bottom: 20px;
}
.ion-help-circled{
    color: #e9ebf0;
    margin-left: 3px;
}
.monitors-list.dashboard.preview li .monitor-content{
    min-height: 200px;
    border-radius: 3px;
    background: #F6F6F6;
    color: #666;
    text-align: center;
    padding-top: 20px;
    margin: 10px;
}
.monitors-list.dashboard .monitors-menu{
    border-bottom: 0px solid #ddd;
    margin-bottom: 15px;
}
.monitors-list.dashboard .monitors-menu a{
    color: #999;
    padding-right: 10px;
    display: inline-block;
}
.monitors-list.dashboard .monitors-menu a.active{
    color: #333;
    font-weight: 500;
}
.monitors-list.dashboard li i.more{
    display: none;
}
.monitors-list.dashboard.preview li i.icon{
    display: block;
    font-size: 80px;
    color: rgba(0,0,0,0.2);
    margin: auto;
}
.monitors-list.dashboard.preview li{
    width: 50%; float: left;
}
.monitors-list.dashboard.preview li.monitor-system{
    width: 100%; /*float: none;clear: left;*/
}
.monitors-list.available li i.more:hover{
    color: rgba(0,0,0,0.8);
}
.monitors-list.available li i.more{
    cursor: pointer;
    font-size: 17px;
    color: rgba(0,0,0,0.2);
    float: right;
    display: none;
}
.monitors-list.available li{
    width: 100% !important;
}
.monitors-list.available li i.icon{
    margin-right: 10px;
}
.monitor-form a{
    float: right;
}
.monitor-form input{
    margin-bottom: 0px;
}
.monitors-list li.active .monitor-form{
    display: block;
    padding-top: 10px;
    padding-bottom: 5px;
}
.monitors-list li .monitor-form{
    display: none;
    font-size:12px;
}
.monitors-list.available li .monitor-content{
    padding: 10px 15px;
    border-radius: 3px;
    background: #F6F6F6;
    color: #666;
    margin-bottom: 5px;
}
.monitors-list.available ul{
    max-height: 500px;
    overflow-y: auto;
    padding-right: 10px;
}
.monitors-list.available{
    width: 30%;
    float: right;
}
.monitors-list.dashboard ul.empty::after{
    color: rgba(0, 0, 0, 0.1);
    content: "Drop Monitors Here";
    display: block;
    font-size: 32px;
    font-weight: 600;
    left: 0;
    margin: auto;
    position: absolute;
    text-align: center;
    top: 45%;
    width: 100%;
    z-index: -1;
}
.monitors-list ul strong{
    font-weight: 400;
    cursor: move;
}
.monitors-list.dashboard ul{
    min-height: 500px;
    border: 1px dashed #ddd;
    padding: 20px;
    border-radius: 3px;
    position: relative;
}
.monitors-list.dashboard{
    width: 70%;
    float: left;
    padding-right: 20px;
}
.monitors-list {
    font-size: 13px;
    margin: auto;
    padding: 0;
    width: 310px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.monitors-list.config li{
    width: 100% !important;
}
.monitors-list.config li .monitor-content{
    padding: 10px 15px;
    border-radius: 3px;
    background: #F6F6F6;
    color: #666;
    margin-bottom: 5px;
}
.monitors-list.config li i.icon{
    margin-right: 10px;
}
.monitors-list.config li i.more:hover{
    color: rgba(0,0,0,0.8);
}
.monitors-list.config li i.more{
    cursor: pointer;
    display: block;
    font-size: 17px;
    color: rgba(0,0,0,0.2);
    float: right;
}
.monitors-list.dashboard.preview2 li.sortable-placeholder{
    border: 1px dashed #CCC;
    background: none;
    min-height: 200px;
    border-radius: 3px;
    margin-bottom: 5px;
    margin:10px 0;
}
.monitors-list.available li.sortable-placeholder,
.monitors-list.config li.sortable-placeholder {
    border: 1px dashed #CCC;
    background: none;
    min-height: 40px;
    border-radius: 3px;
    margin-bottom: 5px;
}
.monitors-list li .handle{
    display: none;
}
.monitors-list.dashboard.preview li{
    position: relative;
}
.monitors-list.dashboard.preview li .handle{
    display: block;
}
.monitors-list.dashboard.preview li .handle {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 15px;
    right: 15px;
    cursor: se-resize;
}
.monitors-list.dashboard.preview li .handle::after {
    content: "";
    position: absolute;
    right: 3px;
    bottom: 3px;
    width: 7px;
    height: 7px;
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}




.log-requests tr td{
    border-bottom: 1px solid #f3f5f8;
    padding: 15px;
}
.log-requests{
    width: 100%;
    border:0;
}
.log-requests i.icon-status.danger{
    color: #f56565;
}
.log-requests span{

}
.log-requests p{
    font-size: 13px;
    letter-spacing: 0.15px;
    line-height: 18px;
    color: #8a949e;
}
.log-requests strong{
    font-size: 14px;
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
}
.log-requests i.icon-status{
    font-size: 30px;
    color: #24b372;
}
.log-requests .stats span i{
    font-size: 14px;
    margin-right: 3px;
}
.log-requests .stats span{
    display: inline-block;
    margin-right: 10px;
    color: #999;
    font-size: 12px;
}
.grid-chart tr td{
    padding: 1.5px;
}
.grid-chart{
    padding: 0;
}
.grid-chart table{
    width: 100%;
}
.grid-chart-labels.cal{
    padding-left: 78px;
    padding-right: 0;
}
.grid-chart-labels{
    padding-right: 38px;
    margin: 15px 0;
}
.grid-chart-labels li.last{
    width: 0px;
    margin-left: -3px;
}
.grid-chart-labels li span{
    position: absolute;
    top:12px;
    left:-8px;
    font-size: 12px;
    color: rgba(0,0,0,0.54);
}
.grid-chart-labels li p{
    background-color: #3489df;
    height: 10px;
    margin:0;
}
.grid-chart-labels li{
    width: 25%;
    float: left;
    position: relative;
    padding-right: 3px;
}
.empty-month,
.empty-month2{
    width: 1%;
}
.timeofyear{
    background-color: #e0e0e0;
    height: 23px;
    width: 100%;
}
.timeofmonth{
    line-height: 11px;
    font-size: 12px;
    color: rgba(0,0,0,0.54);
    text-align: center;
}
.timeofweek{
    line-height: 11px;
    font-size: 12px;
    color: rgba(0,0,0,0.54);
    max-width: 10px;
}
.timeofdaylabel{
    line-height: 11px;
    font-size: 12px;
    color: rgba(0,0,0,0.54);
    text-align: right;
    width: 35px;
}
.timeofmonthlabel{
    line-height: 11px;
    font-size: 12px;
    color: rgba(0,0,0,0.94);
    text-align: left;
    width: 75px;
}
.timeofyear span.active:hover{
    outline: 1px solid #3489df;
}
.timeofyear span.active{
    display: block;
    height: 100%;
    width: 100%;
    background-color: #3489df;
    transition: all 0.6s ease 0s;
}
.timeofday span.active:hover{
    outline: 1px solid #3489df;
}
.timeofday span.active{
    display: block;
    height: 100%;
    width: 100%;
    background-color: #3489df;
    transition: all 0.6s ease 0s;
}
.single .timeofday{
    height: 18px;
}
.timeofday{
    background-color: #e0e0e0;
    height: 11px;
    width: 100%;
}
.timeofday:hover{

}
.opacity20{
    opacity: 0.2;
}.opacity50{
     opacity: 0.5;
 }.opacity80{
      opacity: 0.8;
  }

.progress.s{
    background-color: #f3f5f8;
    border-radius: 2px;
    box-shadow: none;
    height: 6px;
    margin-bottom: 0;
}
.progress.s .progress-bar{
    box-shadow: none;
    background-color: #fec865;
}

#report-43_paginate{
    display: none;
}

.on-search .content-search .search-result{
    display: block;
}
.on-search .content-search .search-hits,
.on-search .content-wrap{
    display: none;
}
.active-search .content-wrap{
    transition: all 0.3s ease 0s;
    opacity: 0.1;
    max-height: 300px;
    overflow: hidden;
}
.active-search .content-search{
    display: block;
}
.content-search .search-header i:hover{
    color: #222;
}
.content-search .search-header i{
    float: right;
    font-size: 26px;
    line-height: 21px;
    cursor: pointer;
    color: #8a949e;
    margin-right: 3px;
}
.content-search .search-header h3{
    font-size: 19px;
    font-weight: 400;
    line-height: 19px;
    margin: 0;
    float: left;
}
.content-search .search-header{
    margin-bottom: 10px;
}
.content-search{
    transition: all 0.3s ease 0s;
    margin:20px 30px 10px;
    display: none;
}
.content-search .search-form:hover i{
    display: block;
}
.content-search .search-form .lisa-icon{
    position: absolute;
    top:10px;
    left:12px;
    color: #337ab7;
    font-size: 22px;
}
.content-search .search-form input{
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 50px;
}
.variables-manual-anchor {
    cursor: pointer;
}
.search-charts{
    margin-bottom: 30px;
}
.search-settings{
    text-align: left;
    display: none;
    margin: 50px 0;
}
.search-filter{
    border-bottom: 1px solid #f3f5f8;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.form-group.export-field{
    width: 50%;
}
.form-group.export-field label {
    display: block;
}
.form-group.export-field select {
    width: calc(100% - 120px);
    display: inline-block;
}
.form-group.export-field button {
    display: inline-block;
    margin-left: 10px;
    vertical-align: baseline;
    padding: 7px;
    width: 110px;
}
.search-settings h4 {
    display: block;
    float: left;
    width: 150px;
    color: #343a43;
    font-size: 13px;
    font-weight: 500;
}
.search-settings ul li > label{
    color: #646c73;
    display: inline-block;
    font-size: 13px;
    vertical-align: bottom;
}
.search-settings ul li {
    float: left;
    width: 33.3%;
}
.search-settings ul {
    float: left;
    width: calc(100% - 150px);
}
.search-settings-cencel{
    float: right;
}
.search-settings-actions{
    margin-right: 5px;
}
.search-elements input[type="text"],
.search-elements input[type="number"],
.search-elements select{
    width: 90%;
}
.search-table .table-data{
    margin: 0;
    width: 100%;
}
.search-footer{
    padding: 10px 0;
}
.search-footer .pagination-info{
    float: left;
    line-height: 30px;
}
.search-footer .pagination{
    margin:0;
    float: right;
}
.content-search .search-form{
    display: block;
    position: relative;
}
.content-search .search-hits ul li:hover{
    background-color: #3489df;
    color: #fff;
}
.content-search .search-hits ul li{
    display: inline-block;
    padding:10px;
    background-color: #F4F4F4;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.content-search .search-hits h3{
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    margin: 0 0 10px;
    color: #8a949e
}
.content-search .search-hits{
    margin:50px 0;
}
.content-search .search-result{
    margin:20px 0;
    text-align: center;
    display: none;
}
.lisa-icon {
    width: 20px;
    height: 20px;
    background: #eee;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    box-sizing: unset;
}
.search-result .intelliboard-search-export{
    display: none;
}
.search-head{
    margin-bottom: 10px;
}
.search-head a.search-menu{
    color: #8a949e;
    cursor: pointer;
    margin-left: 10px;
}
.search-head h3 span{
    font-weight: 400;
    color: #8a949e;
}
.search-head h3{
    margin:0;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 14px;
    display: inline-block;
    vertical-align: bottom;
}

.search-form:hover .lisa-icon:after, .search-form:hover .lisa-icon:before {
    transition: all 0.3s ease 0s;
    transform: rotate(45deg);
}
.header-search:hover .lisa-icon:after, .header-search:hover .lisa-icon:before {
    transition: all 0.3s ease 0s;
    transform: rotate(45deg);
}
.lisa-icon:after, .lisa-icon:before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    box-sizing: unset;
    transform: rotate(135deg);
    transition: all 0.3s ease 0s;
}

.lisa-icon.spining::after {
    animation: spin 2s linear infinite;
}
.lisa-icon::after {
    position: absolute;
    border: 2px solid transparent;
    border-top-color: #3489df;
    border-bottom-color: #3489df;
    top: -3px;
    left: -3px;

    box-sizing: unset;
}
.lisa-icon.spining::before {
    animation: shrink 3s ease infinite;
}
.lisa-icon::before {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 10px;
    width: 10px;
    background-color: #3489df;

    box-sizing: unset;
}

.report-output .dataTables_paginate a{
    color: #343a43;
    cursor: pointer;
}
.report-output .dataTables_paginate a.disabled{
    color: #8a949e;
    cursor: default;
}
.datemenu ul li:last-child{
    border-top: 1px solid #e9ebf0;
}
.datemenu ul li.active,
.datemenu ul li:hover{
    color: #8a949e;
    background-color: #f9f9f9;
}
.datemenu ul li i{
    font-size: 11px;
    margin-left: 5px;
}
.datemenu.extended ul li.trigger{
    display: none;
}
.datemenu ul li.invisible{
    display: none;
}
.datemenu.extended ul li.invisible{
    display: block;
    visibility: visible;
}
.datemenu ul li{
    padding: 7px 15px;
    color: #343a43;
    cursor: pointer;
    font-size: 13px;
}
.datemenu ul{
    margin: -15px;
}
.datemenu a{
    color: #8a949e;
    display: block;
}

.report-output .dataTables_paginate{
    border-bottom: 1px solid #e9ebf0;
    border-right: 1px solid #e9ebf0;
    border-radius: 0 0 4px 0;
    margin: 0;
    padding: 15px 20px;
    width: 50%;
    float: right;
    height: 50px;
    text-align: right;
}
.report-output .dataTables_length label{
    margin: 0;
}
.report-output .dataTables_length select{
    border:0 !important;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    cursor: pointer;
    background: transparent url("../icons/src/chevron-down.svg") no-repeat scroll 97% center / 10px 10px;
    padding-left: 0;
    width: auto !important;
    min-width: 40px;
}
.report-output .dataTables_length{
    border-bottom: 1px solid #e9ebf0;
    border-left: 1px solid #e9ebf0;
    border-radius: 0 0 0 4px;
    margin: 0;
    padding: 15px 20px;
    width: 50%;
    height: 50px;
}
.report-output .dataTables_paginate a{
    border:0 !important;
    margin-left: 15px !important;
    padding: 6px 0 !important;
    background-color: #fff !important;
}
.report-output .form-control {
    height: 34px;
    line-height: 32px;
}

.report-output .not-ajax .dataTables_filter{
    display: none;
}
.report-output .not-ajax .dataTables_length{
    position: absolute;
    bottom: 0;
    background-color: #fff;
}
.report-filter .ms-parent {
    margin:0;
}
.report-menu i{
    font-size: 21px;
    line-height: 34px;
}
.report-menu{
    color: #8a949e;
    float: right;
    line-height: 13px;
    margin: 0;
}
.report-output input.filter-text:focus{
    width: 200px;
}
.report-output input.filter-text{
    width: 135px;
    transition: all 0.3s ease-out 0s;
}
.report-output .datefilter .dropdown-toggle:hover{
    cursor: pointer;
    color: #222;
}
.report-output .datefilter input.form-control{
    float: none;
    width: auto;
}
.report-output .datefilter{
    margin-top: 7px;
}
.report-output .filter-select {
    margin-left: 5px;
    max-width: 135px;
    min-width: 120px;
    width: auto;
}

.content-wrap {
    background-image: linear-gradient(
            hsla(0, 0%, 0%, 0.6),
            transparent;
);
}
.search-table {
    overflow: auto;
    position: relative;
}
.search-fail-message{
    text-align: left;
}



.multiple-pane .select-search i:hover{
    color: rgba(0,0,0, 0.9);
}
.multiple-pane .select-search i{
    position: absolute;
    right: 10px;
    top: 7px;
    color: rgba(0,0,0, 0.2);
    cursor: pointer;
    font-size: 17px;
}
.multiple-pane .select-search{
    position: relative;
    display: block;
}
.multiple-pane .select-wrap select{
    height: 200px;
    padding: 10px;
}
.multiple-pane .select-wrap{
    position: relative;
    margin-top: 10px;
    display: block;
}
.multiple-pane .select-wrap.loading::before{
    background-color: rgba(0,0,0, 0.1);
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0%;
    content: "";
}
.multiple-pane .select-wrap.loading::after{
    text-shadow: 0 0 10px #fff;
    color: rgba(0, 0, 0, 0.6);
    content: "Loading...";
    display: block;
    font-size: 21px;
    font-weight: 300;
    left: 0;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
    z-index: 2;
}

.monitors{
    margin-right: -25px;
}
.monitors .monitor .datefilter .dropdown-toggle{
    line-height: 21px;
    font-size: 12px;
    color: #8a949d;
    cursor: pointer;
}
.monitors .monitor .datefilter{
    float: right;
    margin-left: 10px;
}
.monitors .monitor .settings i{
    font-size: 15px;
    margin-left: 10px;
    margin-right: 5px;
}
.monitors .monitor.fullsize{
    width: 100%;
}
.monitors .monitor.system{
    width: 100%;
    margin: 15px 0 0;
}
.monitor-sets {
    padding-top: 15px;
}
.monitors .monitor.table-view .monitor-body{
    padding: 0;
    position: relative;
}
.monitors .monitor.system.html-view .monitor-body,
.monitors .monitor.system .monitor-body{
    min-height: auto;
    height: auto;
    border:0;
    padding:0;
    min-height: 125px;
}
.monitors .monitor.system .monitor-header{
    display: none;
}
.monitors .monitor .settings{
    float: right;
    line-height: 21px;
    color: #8a949d;
    cursor: pointer;

}
.monitors .monitor .title a{
    font-size: 14px;
    font-weight: 500;
    color: #333;
}
.monitors .monitor .title{
    float: left;
}
.monitors .monitor-header{
    padding: 10px 0;
}
.monitors .monitor-footer{
    padding: 0px;
}
.monitors .monitor-body.loading::before{
    background-color: rgba(255,255,255, 0.8);
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0%;
    content: "";
}
.monitors .monitor-body.loading::after{
    text-shadow: 0 0 10px #fff;
    color: rgba(0, 0, 0, 0.6);
    content: "Loading...";
    display: block;
    font-size: 21px;
    font-weight: 300;
    left: 0;
    position: absolute;
    text-align: center;
    top: 46%;
    width: 100%;
    z-index: 2;
}
.monitors .monitor-body{
    border:1px solid #e9ebf0;
    min-height: 300px;
    border-radius: 3px;
    padding: 10px;
    position: relative;
}
.monitors .monitor.single.setup .monitor-body .primary-icon{
    font-size: 80px;
    padding: 10px;
    color: #0083d0;
}
.monitors .monitor.single.setup .monitor-body{
    min-height: auto;
    padding: 100px 0;
    text-align: center;
}
.monitors .monitor.html-view .monitor-body{
    padding: 20px;
}
.monitors .monitor.single.html-view .monitor-body{
    min-height: auto;
}
.monitors .monitor.single .monitor-body{
    min-height: 600px;
}
.monitors .monitor.size-1,
.monitors .monitor.single{
    width: 100%;
    float: none;
    clear: left;
}
.monitors .monitor.size-3{
    width: 66.7%;
}
.monitors .monitor.size-2{
    width: 33.3%;
}
.monitors .monitor{
    width: 50%;
    float: left;
    padding-right: 25px;
}


.monitor-table{
    height: 100%;
    padding-bottom: 40px;
}
.monitor-table-header{
    border-bottom: 1px solid #e9ebf0;
    padding: 0 13px 0 20px;
}

.monitor-table-header .form-control {
    float: right;
    height: 32px;
    line-height: 32px;
    margin-top: 10px;
    width: 25%;
}
.monitor-table-header strong {
    color: #343a43;
    font-size: 13px;
    font-weight: 400;
    line-height: 50px;
}
.monitor-table-header strong i {
    color: #e9ebf0;
    margin-left: 3px;
}
.monitor-table-header span {
    color: #8a949e;
    float: right;
    font-size: 13px;
    line-height: 50px;
}
.monitor-table-body .dataTables_paginate{
    display: none;
}
.single .monitor-table-body {
    height: auto !important;
}
.monitor-table-body {
    overflow-x: auto;
    overflow-y: auto;
    padding: 0;
    height: 207px;
}
.monitor-table-footer {
    border-top: 1px solid #e9ebf0;
    bottom: 0;
    font-size: 13px;
    padding: 10px 20px;
    position: absolute;
    width: 100%;
}
.monitor-table-footer .naxtprev {
    float: left;
}
.monitor-table-footer .more i {
    margin-left: 5px;
}
.monitor-table-footer .more {
    color: #343a43;
    float: right;
}
.monitor-table-footer .naxtprev {
    float: left;
}
.monitor-table-footer .naxtprev a.disabled {
    color: #8a949e;
}
.monitor-table-footer.naxtprev a {
    color: #343a43;
    cursor: pointer;
    margin-right: 6px;
}
.monitor-table-footer .filter {
    color: #8a949e;
    cursor: pointer;
    float: left;
}



@media screen and (min-width: 1600px) {
    body .monitors .monitor-table-body{
        min-height: 407px;
    }
    body .monitors .monitor-body{
        min-height: 500px;
    }
}
@media screen and (min-width: 2000px) {
    body .monitors .monitor-body{
        min-height: 600px;
    }
    body .monitors .monitor-table-body{
        min-height: 507px;
    }
}
@media screen and (min-width: 2400px) {
    body .monitors .monitor-table-body{
        min-height: 707px;
    }
    body .monitors .monitor-body{
        min-height: 800px;
    }
}

.monitor-permissions .form-group .form-group{
    padding-left: 25px;
}
.monitor-permissions h4{
    display: block;
    font-size: 13px;
    color: #8a949e;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    display: block;
    border-bottom: 1px solid #f3f5f8;
}
.report-permissions{
}
.report-permissions .trigger{
    display: block;
    font-size: 13px;
    color: #8a949e;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    display: block;
    border-bottom: 1px solid #f3f5f8;
}
.report-permissions .t-reports .inner-reports {
    padding-left: 25px;
}
.report-permissions .t-reports,
.report-permissions .reports-items{
    padding-left: 25px;
}
.report-permissions .reports-items:after{display: table;line-height: 0;content: ""; clear: both;}

.report-permissions .t-reports ul:after{display: table;line-height: 0;content: ""; clear: both;}
.report-permissions .t-reports ul li{
    width: 33%;float: left;
    display: block;
    margin-bottom: 10px;
}
.report-permissions .reports-items li{
    width: 33%;float: left;
    display: block;
    margin-bottom: 10px;
}

.system-wrap{
}
.system.less800 .system-item{
    width: 100%;
    float: none;
}
.system.less200 .system-box{
    width: 100%;
    float: none;
    margin: 0 0 10px;
}

.system-box{
    float: left;
    width: 33.3%;
    border:1px solid #e9ebf0;
    border-radius: 3px;
}
.system-body{
    padding: 15px;
}
.system-header{
    background-color: #fbfcfd;
    border-bottom:1px solid #e9ebf0;
    padding: 10px;
    color: #8a949d;
    font-size: 13px;
}
.system-item strong{
    color: #343a43;
    font-size: 14px;
}
.system-item p{
    color: #929da6;
    font-size: 13px;
    margin: 0;
}
.system-item:last-child{
    padding-right: 0;
}
.system-box:nth-child(2){
    width: calc(33.3% - 30px);
    margin:0 15px;
}
.system-item{
    float: left;
    width: 33.3%;
    padding-right: 3px;
    min-width: 70px;
}

.pulse{
    -webkit-animation: pulse 1.5s;
    -webkit-animation-iteration-count: 100;
    animation: pulse 1.5s;
    animation-iteration-count: 100;
}

.text-muted {
    color: #636c72 !important;
}
a.text-muted:focus, a.text-muted:hover {
    color: #4b5257 !important;
}
.text-primary {
    color: #0275d8 !important;
}
a.text-primary:focus, a.text-primary:hover {
    color: #025aa5 !important;
}
.text-success {
    color: #5cb85c !important;
}
a.text-success:focus, a.text-success:hover {
    color: #449d44 !important;
}
.text-info {
    color: #5bc0de !important;
}
a.text-info:focus, a.text-info:hover {
    color: #31b0d5 !important;
}
.text-warning {
    color: #f0ad4e !important;
}
a.text-warning:focus, a.text-warning:hover {
    color: #ec971f !important;
}
.text-danger {
    color: #d9534f !important;
}
a.text-danger:focus, a.text-danger:hover {
    color: #c9302c !important;
}
.text-gray-dark {
    color: #292b2c !important;
}
a.text-gray-dark:focus, a.text-gray-dark:hover {
    color: #101112 !important;
}


@-webkit-keyframes pulse {
    from { border-color: transparent; }
    50% { border-color: #14a2e2; }
    to { border-color: transparent; }
}
@keyframes pulse {
    from { border-color: transparent; }
    50% { border-color: #14a2e2; }
    to { border-color: transparent; }
}

@keyframes spin {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(1.3);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}
@keyframes shrink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.ion-spin, .ion-loading-a, .ion-loading-b, .ion-loading-c, .ion-loading-d, .ion-looping, .ion-refreshing, .ion-ios7-reloading { -webkit-animation: spin3 1s infinite linear; -moz-animation: spin3 1s infinite linear; -o-animation: spin3 1s infinite linear; animation: spin3 1s infinite linear; }

@-moz-keyframes spin3 { 0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(359deg); } }
@-webkit-keyframes spin3 { 0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(359deg); } }
@-o-keyframes spin3 { 0% { -o-transform: rotate(0deg); }
    100% { -o-transform: rotate(359deg); } }
@-ms-keyframes spin3 { 0% { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(359deg); } }
@keyframes spin3 { 0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); } }
.ion-loading-a { -webkit-animation-timing-function: steps(8, start); -moz-animation-timing-function: steps(8, start); animation-timing-function: steps(8, start); }



@-moz-keyframes spin2 { 0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(359deg); } }
@-webkit-keyframes spin2 { 0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(359deg); } }
@-o-keyframes spin2 { 0% { -o-transform: rotate(0deg); }
    100% { -o-transform: rotate(359deg); } }
@-ms-keyframes spin2 { 0% { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(359deg); } }
@keyframes spin2 { 0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); } }

.search_processing {
    position: absolute;
    background: white;
    left: 50%;
    top: 50%;
}
#searchReportForm {
    display: none;
}
#searchReportForm textarea {
    width: 80%;
    display: block;
    margin: 0 auto 10px;
}
#searchReportForm button[type=submit] {
    width: 120px;
}
.request-body {
    cursor: pointer;
}
.request-info {
    margin: 15px 0;
}
.request-details {
    color: #777;
    margin-top: 10px;
}
.request-title {
    font-weight: bold;
}

.embed .header{
    width: 100%;
    background-color:transparent;
    padding:12px 30px 10px;
    transition: all 0.3s ease-out 0s;
    z-index: 2;
    color:#333;
    background: rgba(255, 255, 255, 0.95) none repeat scroll 0 0;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
}
.embed .header .container{
    width: 100%;
    padding: 0;
}

.embed .header a:hover{
    color:#000
}
.embed .header a{
    color:#333
}
.embed .header a.logo{
    text-transform: uppercase;
    float: left;
    color: #0083d0;
}
.embed .header a.logo i:before{
    font-size: 42px;
    line-height:42px;
}
.embed .header a.logo i{
    float: left;
    margin-bottom: -5px;
}
.embed .header a.logo span{
    font-size: 21px;
    font-weight: 500;
    line-height:37px;
    float: left;
    margin-left: 5px;
}
.embed .header a.logo span.net{
    font-weight: 300;
    transition:opacity 0.8s linear;
    opacity:0;
    margin-left:0;
}
.embed .header a.logo span.tm{
    font-size: 12px;
    line-height: 24px;
    margin-left: 2px;
}
.embed .header a.logo:hover .net{
    opacity:0.9;
}
.embed .header nav{
    float:right;
}
.embed .header nav ul{
    padding:0;
    margin:0;
    list-style:none;
}
.embed .header nav ul li{
    padding:0;
    margin:0 0 0 10px;
    float:left;
    position:relative;
    line-height:36px;
    font-size:13px;
    color: rgba(0,0,0,0.4);
}
.embed .header nav ul li a{
    font-size:13px;
    line-height:36px;
    text-decoration: none;
}

.header-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}


.margin-top-20 {
    margin-top: 20px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-left-40 {
    margin-left: 40px;
}

.notification {
    padding: 15px;
}
.refreshconnectionstatus i{
    display: block;
    float: right;
    margin-left: 5px;
}

/* Profile */

.profile hr {
    margin: 0 30px;
}

.profile .profile-avatar {
    padding: 30px;
}

.profile .profile-avatar .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.profile-avatar .form-group {
    margin-left: 100px;
    margin-top: 35px;
}

.profile .change-password-button {
    margin-top: 24px;
}

/* Billing */

.billing .summary-block {
    border: 1px solid #ebf0f5;
    border-radius: 3px;
}

.billing .summary-block .plan-price p.title{
    margin: 0;
    line-height: 68px;
}
.billing .summary-block .plan-price h3 span{
    font-size: 44px;
}
.billing .summary-block .plan-price h3{
    margin: 0 10px 0 0;
}
.billing .summary-block .plan-price {
    padding: 20px;
}
.billing .summary-block .summary-info {
    border-top: 1px solid #ebf0f5;
    padding: 20px;
}
.billing .summary-block .summary-info p{
    margin: 10px 0;
    font-size: 13px;
}
.billing .change-plan-block{
    padding-top: 80px;
}
.billing .change-plan-block img{
    width: 100px;
}

.billing .change-plan-block p {
    margin-top: 20px;
}

.billing .change-plan-block a {
    margin-top: 20px;
}
.price-switcher a.active {
    color: #222;
    font-weight: 600;
}
.price-switcher a {
    color: #0083d0;
    font-size: 14px;
    cursor: pointer;
}

.full-pricing-info{border:1px solid rgba(0,0,0,0.05);border-radius: 3px;overflow: hidden;}
.full-pricing-info table{width: 100%;color: #47525d; font-size: 14px; margin-bottom:0px; background: #fff;}
.full-pricing-info table .top{border-bottom: 1px solid #f4f4f4; text-align: center;padding: 15px;}
.full-pricing-info table .showmore{cursor: pointer;}
.full-pricing-info table .space{width:20px;}
.full-pricing-info table .ion-android-done{color:#40B272;}
.full-pricing-info table .ion-android-close{color:#DF7D75;}
.full-pricing-info table th{text-align: left; padding: 12px 15px 0; font-weight: 600;font-size:14px; line-height: 44px;}
.full-pricing-info table th.essentials{color: #1a82e2;}
.full-pricing-info table th.pro{color: #18c96e;}
.full-pricing-info table th.premier{color: #feb12a;}
.full-pricing-info table tr td.essential_color{color: #1a82e2;}
.full-pricing-info table tr td.pro_color{color: #18c96e;}
.full-pricing-info table tr td.premier_color{color: #feb12a;}
.full-pricing-info table tr .opt-name{font-weight: 400; padding: 12px 15px;text-align: left;}
.full-pricing-info table tr .opt-name:not(.bordered-td){padding-left: 30px;}
.full-pricing-info table tr td{font-weight: 400;font-size:13px;line-height:14px;}
.full-pricing-info table tr th,
.full-pricing-info table tr td{border-bottom: none;}
.full-pricing-info table tr:nth-child(even) td{ background-color: #fbfbfb;}
.full-pricing-info table tr:first-child td{border-top:1px solid transparent;}
.full-pricing-info table tr:first-child td{background:none;}
.full-pricing-info table tr:last-child td{background:none;border:0;}
.full-pricing-info table tr td.bordered-td,
.full-pricing-info table tr th.bordered-td{border-bottom: 1px solid #f4f4f4;}
.full-pricing-info table tr td a{text-decoration: none;}
.full-pricing-info table tbody tr th{padding: 12px 15px 0 30px;}
.full-pricing-info table tbody tr td {color: #6e747b; text-align: center; padding: 15px;}
.full-pricing-info table tfoot tr td {text-align: center; padding: 15px;}
.full-pricing-info table tbody tr td:nth-child(3n+1),
.full-pricing-info table thead tr td:nth-child(3n+1),
.full-pricing-info table thead tr th{border-right: 1px solid #f4f4f4;}


/* The switch - the box around the slider */
.iradio .switch.mt5 {
    margin: 5px 0 1px;
}
.iradio.m .switch {
    width: 36px;
    height: 20px;
}
.iradio .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
    margin: 0;
}

/* Hide default HTML checkbox */
.iradio .switch input {display:none;}

/* The slider */
.iradio .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.iradio.m .slider:before {
    height: 18px;
    width: 18px;
}
.iradio .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.iradio input:checked + .slider {
    background-color: #3489df;
}

.iradio input:focus + .slider {
    box-shadow: 0 0 1px #3489df;
}

.iradio input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
}
.iradio.m input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}
.iradio.m .slider.round {
    border-radius: 21px;
}
.iradio .slider.round {
    border-radius: 28px;
}
.iradio .slider.round:before {
    border-radius: 50%;
}
.fade50{
    opacity: 0.5;
}
.margin0{
    margin:0;
}
pre {
    padding: 0;
    font-size: 14px;
    color: #333;
    background: none;
    border: none;
    font-family: 'Roboto', sans-serif;
}

.faded {
    opacity: 0.3;
}

.content .row {
    padding: 30px;
    margin-left: 10px;
    background-color: white;
}